@charset "utf-8";
/**
 *
 * @loading.css
 * @author wenjielei
 * @create 19-10-08
 *
 */
.coo-loading {
  position: relative;
}
.coo-loading.coo-loading-animation {
  -webkit-animation: fadeIn 0.5s both;
  animation: fadeIn 0.5s both;
}
.coo-loading-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/Loading/loading-blue.gif");
  /* IE10+ */
  background: url("images/Loading/loading-blue.png"), linear-gradient(transparent, transparent);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.coo-loading > .coo-loading-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
s.coo-loading-icon {
  width: 20px;
  height: 20px;
  background: url("images/Loading/loading-blue-s.gif");
  background: url("images/Loading/loading-blue-s.png"), linear-gradient(transparent, transparent);
}
.coo-loading > s.coo-loading-icon {
  margin: -10px 0 0 -10px;
}
.coo-loading-primary {
  background-color: #2486ff;
}
.coo-loading-primary > .coo-loading-icon {
  background: url("images/Loading/loading-white.gif");
  background: url("images/Loading/loading-white.png"), linear-gradient(transparent, transparent);
}
.coo-loading-primary > s.coo-loading-icon {
  background: url("images/Loading/loading-white-s.gif");
  background: url("images/Loading/loading-white-s.png"), linear-gradient(transparent, transparent);
}
/* 更现代浏览器纯CSS生成 */
@supports (mask: none) or (-webkit-mask: none) {
  .coo-loading-icon {
    position: relative;
    border-radius: 50%;
    -webkit-mask: radial-gradient(transparent 12px, #000 13px);
    mask: radial-gradient(transparent 12px, #000 13px);
    overflow: hidden;
  }
  s.coo-loading-icon {
    -webkit-mask: radial-gradient(transparent 8px, #000 9px);
    mask: radial-gradient(transparent 8px, #000 9px);
  }
  .coo-loading-icon,
  s.coo-loading-icon,
  .coo-loading-primary > .coo-loading-icon,
  .coo-loading-primary > s.coo-loading-icon {
    background: none;
  }
  .coo-loading-icon::before,
  .coo-loading-icon::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
  }
  .coo-loading-icon::after {
    left: 0;
    background: linear-gradient(to top, #2486ff, transparent 90%);
  }
  .coo-loading-icon::before {
    background-color: #2486ff;
  }
  .coo-loading-primary > .coo-loading-icon::before {
    background-color: #fff;
  }
  .coo-loading-primary > .coo-loading-icon::after {
    background: linear-gradient(to top, #fff, transparent 90%);
  }
}
